body {
	background: linear-gradient(135deg, rgba(85,239,203,1) 0%,rgba(30,87,153,1) 0%,rgba(85,239,203,1) 0%,rgba(91,202,255,1) 100%);
  	color: #f7f7f7;
}

* {
	
	font-size:20px;
	
}

#header {
    color:#ffffff;
    margin:10px;
    padding:5px;
    border-radius:5px;
    text-align:center;
	height:150px;
	border: 2px solid #ffffff;
}

.main {
    color:#ffffff;
    margin:10px;
    padding:15px;
    border-radius:5px;
	height:350px;
	border: 2px solid #ffffff;
}


#footer {
    color:#ffffff;
    margin:10px;
    padding:10px;
    border-radius:5px;
	height:350px;
	border: 2px solid #ffffff;
}

